{% extends "base.html" %}
{% load humanize %}
{% block "content" %}
    <h1>{{my_course.name}}</h1> 
    Price: {{my_course.price| intcomma}}<br> 
    Description: {{my_course.description}}<br> 
    Created: {{my_course.created| naturaltime}}<br> 
    Updated: {{my_course.update| naturaltime}}<br>
    {{my_course.teacher}}
    <h2>Students</h2>
    <ol>
    {% for student in students %}
        <li>{{ student }}</li>
        {% empty %} <li>There are no students enrolled at this course.</li>
    {% endfor %}    
    </ol>
{% endblock %}    