{% extends "base.html" %}
{% block "content" %}
    <h1>Students</h1>
    {% for student in students %}
        <h4>{{ student }}</h4>
        Year: {{ student.year}} <br>
        <h6>Courses</h6>
        <table>
            {% for course in student.courses.all %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>
                        {{ course.name }}
                    </td>
                </tr>
            {% endfor %}  
        </table> 
    {% endfor %}  
    
    
{% endblock %} 